.wrapper {
  display: flex;
  height: 100vh;
}

.chat-side {
  background-color: #333333;
  width: 300px;
}

.side-header{
  background-color: #595959;
  height: 100px;
  display: flex;
  align-items: center;
}

.side-box{
  background-color: #ffffff;
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.user-name{
  color: #333333;
}

.menu{
  display: flex;
}

.new-group{
  margin-right: 5px;
}

a{
  text-decoration: none;
  color: #333333;
}

.groups {
  height: calc(100vh -100px);
}

.chat-main {
  width: calc(100% - 300px);
  background-color: #1a1d21;
}

.main-header{
  height: 100px;
  background-color: #3f3f3f;
  border-bottom: 3px solid #595959;
}

.messages{
  height: calc(100vh - 100px - 90px);
}

.form{
  background-color: #595959;
  height: 90px;
}